@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,regular,500,600,700,800);
body {
  margin: 0;
  font-family: "Sora";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1c1e29;
}
